<!doctype html>
<html>
<head>
    <title>Unauthorized</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
        .gtri-logo   { width: 200px; }
        .thank-you   { text-align: center; }
    </style>
</head>
<body>

<div class="container">
<div class="col-sm-6 col-sm-offset-3">

  <div class="thank-you">
		<h3>We're sorry, but you don't have permission to access this page.</h3>
	</div>

</div>
</div>
</body>
</html>
